
  
  <div class="container">
 
   <div class="row">
 
     <div class="col-md-7">  
      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
          <tbody>
      
            <tr *ngFor="let p of products" [class.bg-secondary]="p.isActive==false">
              <td>{{p.productID}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>
              <td> <button class="btn btn-primary" (click)='onSelectedProduct(p)'>Edit</button>  
                <button class="btn btn-danger" (click)="deleteProduct(p.productID)">Delete</button> 
             </td>
            </tr>
          </tbody>
      </table>
     </div>
     <div class="col-md-5">
       <app-product-form [products]="products"></app-product-form>
       <app-product-details [product]="selectedProducts" [products]="products"></app-product-details>
     </div>
   </div>
 </div>
 
  




